<br><br>

<h4>Mis Gatos guardados en BD Firebase</h4>

<div class="row filaGato">
  <div class="col-sm-3" *ngFor="let gato of arrGatosDB">
      <div class="card cardGato">
          <img class="imgGato" [src]="gato.url">
          <div class="card-body">
          <h5 class="card-title"> ID {{gato.id}}</h5>
          <p class="card-text"> Propiedades</p>
          <p class="card-text"> width: {{gato.width}}</p>
          <p class="card-text"> height: {{gato.height}}</p>
          <p class="card-text"> url: {{gato.url}}</p>
          <p class="card-text"> visible: {{gato.visible}}</p>
      </div>
  </div>
  </div>
</div>
